<ul>
	{{#each users}}
		{{#ifnotme ../me user}}
			<li>
				<a href='#' data-user='{{user}}' class='{{status}}' title='{{displayName}}'>
					<span class='icon'></span>{{displayName}}
				</a>
				<a href='#{{currentlyWorkingOn}}' class='currentWork' title='{{currentlyWorkingOn}}'>{{currentlyWorkingOn}}</a>
			</li> 
		{{/ifnotme}}
	{{/each}}
</ul>